body>header {
    background: #eee;
    padding: 5px;
}

body>header>a>img, body>header a {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>footer {
    background: #eee;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}
#logged-in-info {
    float: right;
    margin-top: 18px;
}
#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    color: #333333;
}

body>aside {
  float: right;
  width: 300px;
  background: #CCC;
  padding: 15px;
  margin-left: 20px;
  margin-top: 10px;
}

body>aside h2 {
  margin: 5px 0px 15px 0px;
}

body>aside a {
  display: block;
  margin: 5px 0px;
  text-decoration: none;
}

body>main:after {
  content: '';
  display: block;
  clear: both;
}

label span{
  display: inline-block;
  width  : 120px;
  text-align: right;
}


table{
    border-collapse:collapse;
    border-spacing:0;
}


.blogPosts{
    padding-left: 140px;
    padding-right: 360px;
}

a {
    text-decoration: none
}

.content{
    white-space: pre-wrap;
}

.postActions{
    font-size: 1.5em;
}

.postActions .ratingIcon{
    float: left;
}

.postActions .editIcon{
    float: right;
}

.error_div {
    color: red;
    text-align: center;
    padding: 100px 0;
}

.commentsTable{
    width: 100%;
    background: #eee;
    border-collapse:collapse;
    border-spacing:0;
}

.commentsTable .newCommentBody{
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.editPostForm .editPostTitle{
    width: 97%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.editPostForm .editPostBody{
    width: 97%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.editPostForm .editPostTags{
    width: 97%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

.newPostForm{
    padding-left: 140px;
    padding-right: 360px;
}

.newPostForm .newPostTitle, .newPostBody, .newPostTags{
    width: 97%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}