<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_layout :: site-head">
    <title>Edit your Post</title>
</head>

<body>

<header th:replace="user_layout :: site-header"/>

<form method="post" action="#" th:action="@{/posts/edit}" th:object="${editPostForm}">

    <p>Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>


    <h2>Title</h2>
    <input type="text" id="title" name="title" size="120" th:value="${editPostForm.title}" th:field="*{title}" required=""/>
    <strong><abbr title="required">*</abbr></strong>
    <br/>

    <h2>Blog Entry</h2>
    <textarea id="body" name="body" cols="120" rows="20" th:field="*{body}" required=""/>
    <strong><abbr title="required">*</abbr></strong>
    <br/>

    <h2>Tags</h2>
    Separate tags with a comma(,)<br/>
    <input type="text" id="tags" name="tags" size="120" th:field="*{tags}" />

    <p><input type="submit" value="Submit" /></p>

</form>

<footer th:replace="guest_layout :: site-footer"/>

</body>

</html>