<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<header th:if="${session.SessionId != null}">
    <th:block th:replace="user_layout :: site-header"/>
</header>
<header th:if="${session.SessionId == null}">
    <th:block th:replace="guest_layout :: site-header"/>
</header>

<article  class="blogPosts">
    <div id="post"  th:replace="user_layout :: post">
    </div>
</article>
<footer th:replace="user_layout :: site-footer"/>

</body>

</html>