<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_layout :: site-head">
    <title>Profile</title>
</head>

<body>

    <header th:if="${session.SessionId != null}">
        <th:block th:replace="user_layout :: site-header"/>
    </header>
    <header th:if="${session.SessionId == null}">
        <th:block th:replace="guest_layout :: site-header"/>
    </header>


    <h2>About</h2>
    <table cellpadding="4">
        <tr>
            <td><b>User Name</b></td><td th:text="${user.id}" >User Name</td>
        </tr>
        <tr>
            <td><b>Full Name</b></td><td th:text="${user.fullName}" >Full Name</td>
        </tr>
        <tr>
            <td><b>Email</b></td><td><a th:text="${user.emailAddress}" th:href="'mailto:' + ${user.emailAddress}">Contact</a></td>
        </tr>
    </table>


    <hr />


    <h2 th:text="${user.id} + '\'s posts'">Posts</h2><br/>
    <article th:replace="user_layout :: posts" />


    <footer th:replace="user_layout :: site-footer"/>
</body>

</html>