<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="icon" href="../public/img/blog_icon.ico" th:href="@{/img/blog_icon.ico}"/>
    <script src="../public/js/jquery-3.1.1.min.js" th:src="@{/js/jquery.js}"></script>
    <script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header">
    <a href="index.html" th:href="@{/blogplus}"><img src="../public/img/blog_logo.jpg" th:src="@{/img/blog_logo.jpg}"/></a>
    <a href="index.html" th:href="@{/blogplus}">Home</a>
    <a href="users/login.html" th:href="@{/blogplus/users/login}">Login</a>
    <a href="users/register.html" th:href="@{/blogplus/users/register}">Register</a>
    <div id="logged-in-info"><span>Hello, <b>Guest</b></span>
    </div>
</header>
<h1>Welcome</h1>
<p>Welcome to Blog Plus.</p>
<footer th:fragment="site-footer">
    What is Blog Plus?
</footer>
</body>
</html>