<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="icon" href="../public/img/blog_icon.ico" th:href="@{/img/blog_icon.ico}"/>
    <script src="../public/js/jquery-3.1.1.min.js" th:src="@{/js/jquery.js}"></script>
    <script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>
    <script src="../public/js/underscore-min.js" th:src="@{/js/underscore-min.js}"></script>

    <meta th:include="this :: head" th:remove="tag"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<header th:fragment="site-header">
    <a href="index.html" th:href="@{/blogplus/welcome}"><img src="../public/img/blog_logo.jpg"
                                                    th:src="@{/img/blog_logo.jpg}"/></a>
    <a href="index.html" th:href="@{/blogplus/welcome}">Home</a>
    <a href="posts/index.html" th:href="@{/blogplus/users/myposts}">My Posts</a>
    <a href="posts/create.html" th:href="@{/blogplus/posts/create}">Create Post</a>
    <a href="users/profile.html" th:href="@{/blogplus/users/profile}">Profile</a>

    <div id="logged-in-info"><span>Hello, <b th:text="${session.UserName}"
                                             th:unless="${session == null}">Guest</b></span>
        <form method="post" th:action="@{/blogplus/users/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</header>
<h1>Welcome</h1>
<p>Welcome to Blog Plus.</p>

<!--id is dynamically constructed and this helps jquery to load the content corresponding to a specific tag only-->
<!--every post displayed in application follows this standard-->

<div th:id="'post_' + ${post.id}" th:fragment="post">
    <a href="#" th:href="@{/blogplus/posts/view/{id}/(id=${post.id})}">
        <h2 id="title" class="title" th:text="${post.title}">Post Title</h2>
    </a>
    <div id="posted_info" class="date">
        <i>Created on</i>
        <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">22-May-2016</span>
        <span th:if="${post.author}" th:remove="tag">
            <i>by</i>
            <a href="#" th:href="@{/blogplus/users/profile/{username}/(username=${post.author})}" th:text="${post.author}">Test Author</a>
        </span>
    </div>
    <div id="content" class="content" th:utext="${post.body}">Test Blog Post content</div>
    <div id="tagSection">
        <p>
            <b>Tags: </b>

            <span id="tags" th:text="${post.tagsAsStr}" hidden="true"></span>

            <a th:each="tag : ${post.tags}" th:href="@{/blogplus/posts/filter/?tag={tag}(tag=${tag})}" th:text="${tag} + ', '">tag</a>
            <span class="postActions" th:if="${post.author == session.UserName}">
                <i class="fa fa-plus-circle" aria-hidden="true" th:onclick="'prepareAddTagForm(' +
                                                                            '\'' + ${post.id.toString()} + '\'' + ',' +
                                                                             '\'' + ${post.tagsAsStr} + '\'' +
                                                                             ')'"></i>
            </span>
        </p>
    </div>
    <div id="postActions" class="postActions" th:if="${session.SessionId != null}">
        <span class="ratingIcon">
            <th:block th:if="${post.author != session.UserName}">
                <i class="fa fa-thumbs-up" aria-hidden="true"
                   th:onclick="'upVotePost(\''+ ${post.id.toString()} + '\')'" th:text="${post.likes}"></i>&nbsp;
                <i class="fa fa-thumbs-down" aria-hidden="true"
                   th:onclick="'downVotePost(\''+ ${post.id.toString()} + '\')'" th:text="${post.dislikes}"></i>
            </th:block>
            <th:block th:if="${post.author == session.UserName}">
                <i class="fa fa-thumbs-up" aria-hidden="true" th:text="${post.likes}"></i>&nbsp;
                <i class="fa fa-thumbs-down" aria-hidden="true" th:text="${post.dislikes}"></i>
            </th:block>
        </span>

        <span class="editIcon" th:if="${post.author == session.UserName}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"
               th:onclick="'preparePostEditForm(\''+ ${post.id.toString()} + '\')'"></i>
        </span>
        <br/>
    </div>
    <br/>

    <div id="comments">

        <table border="1" class="commentsTable" cellpadding="8">
            <col width="600px"/>
            <tr>
                <td><b th:text="${post.comments.size()} + ' Comments'">Comments</b></td>
            </tr>
            <tr th:if="${session.SessionId != null}">
                <td>
                    <div class="new_comment_form">

                        <b>Post a Comment</b><br/>
                        <textarea class="newCommentBody" id="comment_body" name="comment_body" rows="5"/><br/>
                        <button th:text="Submit" th:onclick="'addComment(\''+ ${post.id.toString()} + '\')'"
                                style="float: right;"/>

                    </div>
                </td>
            </tr>

            <tr th:each="c : ${post.comments}">
                <td>
                    <a href="#" th:href="@{/blogplus/users/profile/{username}/(username=${c.author})}" th:text="${c.author}">Commented
                        By</a>
                    <span th:text="' on ' + ${#dates.format(c.date, 'EEE, dd MMM yy')}"/>
                    <br/><span class="content" th:utext="${c.body}">Comment</span>
                </td>
            </tr>
        </table>

        <p th:if="${session.SessionId == null}">
            <i>You must be <a href="users/login.html" th:href="@{/blogplus/users/login}">logged in</a> to post a comment.</i>
        </p>
    </div>
</div>

<div class="editPostForm" th:id="'post_' + ${editPostForm.id}" th:fragment="editPost">

    <p>Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>


    <h2>Title<strong><abbr title="required">*</abbr></strong></h2>
    <input class="editPostTitle" type="text" id="title" name="title" th:value="${editPostForm.title}"/>

    <br/>

    <h2>Blog Entry<strong><abbr title="required">*</abbr></strong></h2>
    <textarea class="editPostBody" name="body" id="content" rows="20" th:text="${editPostForm.body}"/>
    <br/>

    <h2>Tags</h2>
    Separate tags with a comma(,)<br/>
    <input class="editPostTags" type="text" name="tags" id="tags" th:value="${editPostForm.tags}"/>

    <p>
        <button th:text="'Save'" th:onclick="'savePost(\''+ ${editPostForm.id.toString()} + '\')'"/>
    </p>
</div>

<div class="blogPosts" id="posts"  th:fragment="posts">
    <ul id="postList" class="postList" th:fragment="postList">
        <li  th:each="post : ${posts}">
            <article>
                <div id="post" th:replace="user_layout :: post">
                    Sample Blog Content
                </div>
            </article>
            <br/><br/>
        </li>
    </ul>
</div>

<div id="noMoreEntries" th:fragment="noMoreEntries">
    <i>No more blog posts to be shown</i>
</div>

<div class="blogPosts" id="loading" hidden="true" th:fragment="loadMoreEntries">
    <img src="../public/img/loading.gif"
         th:src="@{/img/loading.gif}" alt="Loading…" width="64" height="64"/>
</div>

<footer th:fragment="site-footer">
    What is Blog Plus?
</footer>
</body>
</html>