<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="user_layout :: site-head">
    <title>Welcome</title>
</head>

<body>

<header th:replace="user_layout :: site-header"/>

<aside>
    <h2>New and Popular Posts</h2>
    <a href="#" th:each="p : ${popularPosts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}">Work
        Begins on HTML5.1</a>
</aside>
<main id="posts">
    <thblock th:each="post : ${latestPosts}">
        <div th:replace="user_layout :: post">
        </div>
        <br/><br/><br/>
    </thblock>
</main>

<footer th:replace="user_layout :: site-footer"/>
</body>

</html>